@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.color {
    color:rgb(253, 110, 10);
}

.header{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:  bottom right;
    font-family: Open Sans;
    background: rgb(255, 248, 243);
}


.img-1 {
    width: 774px;
    height: 10px;
    color: rgba(24, 24, 24, 0.15);
    
    font-size: 100px;
    font-weight: 700;
    line-height: 136px;
    letter-spacing: 33%;
    text-align: left;
    position: relative;
    top: 20px;
    left: 20px;

}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 51px;
}

nav ul {
    display: flex;
    margin-right: 51px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;

 
}

.btn {
    background-color: rgb(253, 110, 10);
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.dark2 {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-contain {
    max-width: 580px;

}


.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.bnr-profile-pic {
    width: 580px;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

main {
    max-width: 1640px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);  

    text-align: center;
    padding: 130px 150px;
}

.section-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}

.section-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
}

.about-items {
    display: flex;
    justify-content: space-around;
    
}
.text-center {
    text-align: center;
}

.item-description {
    font-weight: 600;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.resume-container {
    display: flex;
}

.experience-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-sub-title {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
}

.resume hr {
    margin: 30px 5px;
}

.resume-download-cv {
    margin-top: 50px;
}

.footer {
    padding: 130px 230px;
    background: rgb(255, 248, 243);
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;

}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

